@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/disp/44613062079901.5e703d2cf3c89.gif');
    background-size: cover;
}
body h1{
   color: #fff;
   position:absolute;
   margin-bottom: 50vh;
   font-size: 80px;
}

.relogio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 700px;
    padding: 10px;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
}

.relogio div {
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(0, 0, 0, .9);
    box-shadow: 50x 50x 15px rgba(0, 0, 0, .7);
    border-radius: 8px;
    letter-spacing: 3px;
}

.relogio span{
    font-weight: bold;
    font-size: 60px
}
.relogio span.tempo{
    font-size: 12px;
}
img{
    width: 30vh;
    margin-top: 60vh;
    position: absolute;
    border-radius: 10px;
   
}
@media screen and (max-width: 600px) {
    body {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        }
    body h1 {
        font-size: 8vw;
        margin-top: 2rem;
        margin-bottom: 2rem;
        position: static;
        text-align: center;
    }
    .relogio {
        width: 50vw;
        height: 90vh;
        padding:3vh;
        gap: 0.5rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .relogio div {
        width: 30vw;
        min-width: 70px;
        height: auto;
        min-height: 70px;
        margin-bottom: 1rem;
    }
    .relogio span {
        font-size: 8vw;
    }
    .relogio span.tempo {
        font-size: 4vw;
    }
    img {
        width: 45vw;
        max-width: 250px;
        margin-top: 1rem;
        position: static;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 320px) {
    body {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/disp/44613062079901.5e703d2cf3c89.gif');
        /* background-size: cover; */
        width: 100%;
    }

}